/**
 * Provides basic layout styling
 **/

message {
height: 1.5em;
/* text-align: center; */
font-size: 3em;
font-weight: normal;
letter-spacing: -1px;
transition: 0.5 ease;
padding-top: .75em;
z-index: 10000;
margin: auto;
position: absolute;
top:0px;
max-width: 21.5em;
text-align: center;
display: table;
width: 100%;
}
