/* Menu ****************************************
 **
 *
 **/
menu {
  min-height:2em;
}
/**
 * Full Screen
 **/
@media only screen and (min-width: 40em) {
menu logo {
  font-size:     1.5em;
  font-weight:   normal;
  letter-spacing: 1px;
  font-size: 2em;
font-weight: 400;
letter-spacing: 1px;
text-transform: capitalize;
text-shadow: .1em .1em .1em #DDD;
}
menu logo tagline {
  font-size: 50%;
  display:     block;
  font-weight: normal;
  /* clear: both; */

  font-weight: normal;

  /* letter-spacing: 1px; */

  /* text-transform: capitalize; */

  text-shadow: .1em .1em .1em #DDD;
}
  menu {
float: left;
width: 20%;
display: table;
margin: 1.5em 0 1em;
padding: 0;

      }
  menu options {
    margin: 2em 0em 0em 1em;

  
    padding: 0em 0em 0em 0em;
    display: table;
}
  menu options item {
      padding: 1em 0 0em 1em;
    
      margin: 0em 0em 0em -1em;
    width: 100%;
    display: inline-block;
  }
  menu options item {
    padding: 6px 0 6px 10px;
    margin:  0px;
  }
  menu options item:hover {
    /*cursor: pointer;*/
  }
  menu options item a {
    color: #999999;
    font-weight: normal;
    padding: 0 0 0 9px;
    text-decoration: none;
  }
  menu options item:hover {
    box-shadow: -3px 0 #999;
  }
  menu options item.selected {
box-shadow: -3px 0 #000;
  }
  menu options item.selected:hover {
box-shadow: -3px 0 #000;
    color: #464E5A;
  } 
  menu options item.selected a {
    color: #464E5A;
  }
}
/**
 * Popup
 **/
@media only screen and (max-width: 40em) {
  menu {
    display: inline-block;
    width: 100%;
    max-width: 40em;
    min-width: 40em;
    text-align: center;
    margin: 1em auto 0em auto;
  }
  menu logo {
    display: none !important;
  }
  menu options {
    display: inline-block;
    width: 100%;
    max-width: 40em;
    min-width: 40em;
    list-style-type: none;
    text-align: center;
    margin: 1em auto 0em auto;
  }
  menu options item {
    float: left;
    padding: 10px 0;
    width: 25%;
  }
  menu options item {
    float: left;
    padding: 10px 0;
    width: 25%;
  }
  menu options item:hover {
    /*cursor: pointer;*/
    border-bottom: 4px solid #999;
  }
  menu options item.selected {
    border-bottom: 4px solid #000;
  }

  menu options item a:focus {
    outline: none;
  }
  menu options item a {
    color:           #999999;
    font-size:       1.2em;
    font-weight:     normal;
    padding:         3px 9px;
    text-decoration: none;
  }
  menu options item.selected a {
    color: #464E5A;
  }
  menu options item.selected:hover {
    border-bottom: 4px solid #000;
    color:         #464E5A;
  }

}
