/* Pro *****************************************
 **
 * Overlay
 *
 **/
 .pro:before {
   content: 'PRO VERSION ONLY';
   background: #000;
   opacity: 0.3;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 10;
   text-align: center;
   font-size: 3em;
   display: table-cell;
   vertical-align: middle;
   top: 0px;
 }
 .pro {
   margin:0.5em 0em auto 0em;
 }
